body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerWrapper {
  width: 100%;
  height: 70px;
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footerWrapper {
  width: 100%;
  padding: 10px;
  border-top: 2px solid grey;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainWrapper {
  flex: 1;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 24px;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.todoForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todoInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.addBtn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #28c76f;
  color: white;
  border-color: #28c76f;
  cursor: pointer;
}

.addBtn:hover {
  background-color: lightgreen;
  color: black;
  border: 1px solid black;
}

.todoList {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.doneBtn {
  background-color: #28c76f;
  color: white;
  border-color: #28c76f;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.doneBtn:hover {
  background-color: lightgreen;
  color: black;
  border: 1px solid black;
}

.deleteBtn {
  background-color: red;
  color: white;
  border-color: red;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.deleteBtn:hover {
  background-color: rgb(240, 87, 87);
  color: black;
  border: 1px solid black;
}

.btn {
  display: flex;
  gap: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 100px auto;
  gap: 12px;
}

.loginInput {
  padding: 8px;
  font-size: 16px;
}

.loginBtn {
  padding: 10px;
  background-color: #28c76f;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: 40px;
}

.menuButton {
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.dropdownMenu button {
  padding: 5px;
  background: white;
  border: 1px solid #ddd;
  cursor: pointer;
}

.dropdownMenu button:hover {
  background-color: #f0f0f0;
}
